html, body {
	font-family: 'Ubuntu Mono', monospace;
	font-size: 100%;
}

header {
	background-color: #000;
	color: #fff;
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-size: 1.5em;
}

main {
	margin: 0 15px;
}

// remove the arrows within input of type numbers
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

#charts {
	width: 100%;
	
	th {
		background-color: #000;
		color: #fff;
	}
}
